name: Deploy to InfinityFree

on:
  push:
    branches:
      - master

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show repo contents
        run: ls -la

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v5.0.0
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./
          server-dir: /htdocs
          git-ftp-args: --verbose --insecure
